<!DOCTYPE html>
<html lang="en">
  <%-include('index_templates/header')-%>
  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1"><a href="/route/dashboard">Back</a></div>
          <div class="col-4 text-center">
            <h1><%= locals.user%>'s Dashboard</h1>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-danger" style="margin-left: 15px" href="/route/logout"
              >Sign Out</a
            >
          </div>
        </div>
      </header>
      <div class="jumbotron p-4 p-md-4 text-white rounded bg-dark">
        <div class="col-md px-0 p-3 d-flex justify-content-center">
          <h1>Create Your Draft</h1>
        </div>
        <div class="form-group">
          <!--send form result to this href, via POST method-->
          <form action="/route/create" method="POST">
            <div>
              <label for="title">Title</label>
              <input type="text" id="title" name="CD_title" required />
              <label for="sub-title">Sub-Title</label>
              <input type="text" id="sub-title" name="CD_sub_title" required />
            </div>
            <div>
              <label for="body">Body</label>
              <textarea class="form-control" id="body" name="CD_body" rows="5"></textarea>
            </div>
            <div class="py-2">
              <button type="submit" id="submit-draft">Done</button>
            </div>
          </form>
          <div id="create-done" class="container w-30 border border-secondary py-1 d-none">
            <p class="text-dark">Succesfully created draft! Returning to dashboard...</p>
          </div>
        </div>
      </div>
    </div>
    <%-include('index_templates/footer')-%>
  </body>
  <style>
    #create-done {
      background-color: rgb(102, 212, 102);
    }
  </style>

  <script>
    //we want the author to be able to read the 'successfully created the draft article' message
    //check if inputs are not empty
    function validateForm() {
      const titleInput = document.getElementById("title").value;
      const subTitleInput = document.getElementById("sub-title").value;
      const bodyInput = document.getElementById("body").value;

      if (titleInput === "" || subTitleInput === "" || bodyInput === "") {
        alert("Please fill in all the required fields.");
        return false;
      }
      return true;
    }
    //we want author to see the message Succesfully created draft! Returning to dashboard... before page redirects
    //so we set a timeout function
    const formSubmitButton = document.getElementById("submit-draft");
    formSubmitButton.addEventListener("click", function (event) {
      event.preventDefault();
      if (validateForm()) {
        const targetElement = document.getElementById("create-done");
        targetElement.classList.remove("d-none");
        targetElement.classList.add("d-block");

        setTimeout(() => {
          event.target.closest("form").submit();
        }, 2000);
      }
    });
  </script>
</html>
